<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="NameTheColor Test Suite">
            <directory>tests/AlistairShaw/NameTheColor</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/AlistairShaw/NameTheColor</directory>
        </whitelist>
    </filter>
</phpunit>